<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="re.kaguya._05weibo.mapper.WeiboMapper">
    <insert id="insert">
        insert into weibo (content, created, user_id)
        values (#{content}, #{created}, #{userId});
    </insert>

    <resultMap id="aaa" type="re.kaguya._05weibo.pojo.vo.WeiboIndexVO">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="nickname" property="nickname"/>
    </resultMap>

    <select id="select" resultMap="aaa">
        select w.id,
               w.content,
               u.nickname
        from weibo w
                 join user u on u.id = w.user_id;
    </select>

    <select id="selectWeibo" resultType="re.kaguya._05weibo.pojo.vo.WeiboDetailVO">
        select w.id,
               w.content,
               w.created,
               u.nickname
        from weibo w
                 join user u on w.user_id = u.id
        where w.id = #{id};
    </select>
</mapper>
